body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.company-info img {
    width: auto;      /* Biar proporsi tetap terjaga */
    height: 400px;    /* Tinggi gambar */
    max-height: none; /* Hilangkan batasan tinggi */
}